gradio==4.41.0
ipykernel==6.29.5
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.43
langchain-openai==0.1.22
langchain-text-splitters==0.2.2
langgraph==0.2.44
langgraph-checkpoint==2.0.10
langsmith==0.1.147
numpy==1.26.4
openai==1.41.0
pandas==2.2.2
pillow==10.4.0
pyprojroot==0.3.0
PyYAML==6.0.2
SQLAlchemy==2.0.32