body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    font-family: Arial, sans-serif;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #f6f6f6;
}

.chat-window {
    width: 80%;
    max-width: 2500px;
    height: 850px;
    overflow-y: auto;
    padding: 1rem;
    border: 1px solid #ddd;
    background-color: rgb(61, 61, 61);
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.message {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-start;
}

.user {
    flex-direction: row-reverse;
    text-align: left;
}

.agent {
    text-align: left;
}

.user-bubble {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 10px;
    max-width: 80%;
    margin-left: auto;
    flex-direction: row-reverse;
}

.agent-bubble {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
    max-width: 80%;
}

.user-avatar, .agent-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    flex-shrink: 0;
}

.user-avatar {
    flex-direction: row-reverse;
}

.bubble-content {
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.user .bubble-content {
    background-color: #ffffff;
    align-items: right;
}

.agent .bubble-content {
    background-color: #ec1717;
    align-items: left;
}

.sender-label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.input-area {
    display: flex;
    width: 80%;
    max-width: 2500px;
}

button:hover {
    background-color: #900f0f;
}

.loading {
    text-align: center;
    margin-top: 10px;
    color: #888;
}

input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #ec1717;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-left: 10px;
}
